{% extends "layout.html" %} {% block title %}{% endblock %} {% block
  head %} {{ super() }}
  <style type="text/css">
    .important {
      color: #336699;
    }
  </style>
  {% endblock %} {% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 style="font-weight: 400;">HI!</h1>
        
        <div style="margin-top: 35px">
          <div class="col">
            <p>
              I am an A/V/L Technician and System Designer with more than 10 years in the Audio Recording
              and Live Production space. In the wake of the pandemic, I began seriously pursuing
              programming as a personal challenge, and am now seeking to make a full career
              change towards Web Development. I am a fast learner with a passion for solving problems.
            </p>
            <div style="display: flex; 
            justify-content: center; 
            align-items: center; 
            margin-top: 65px;
            margin-bottom: 55px;
            height: 100%;">
            <a href="{{ url_for('static', filename='Ramiro_Valdes_-_Full_Stack_Web_Developer.pdf') }}" style="width: 200px;" class="btn btn-primary button" download>DOWNLOAD MY CV</a>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <h1 style="font-weight: 400;" id="resume-start">RESUME</h1>
    </div>
  </div>


  <div class="row" style="margin-top: 50px;">
    <div class="col">
      <div>
        <h2 class="resume-section-title">Education</h2>
      </div>
      
      <div style="position: relative;">
        <div class="experience-section">
          <h3 class="experience-section-title">Houston Community College</h3>
          AAS <br />
          Audio Recording 
        </div>
      </div>
    </div>
  </div>

  
  <div class="row" style="margin-top: 100px;">
    <div class="col">
      <div>
        <h2 class="resume-section-title">Experience</h2>
      </div>
      
      <div style="position: relative;">

        <div class="experience-section">
          <h3 class="experience-section-title">3Fold Studios - Recording Engineer</h3>
          <div class="experience-year">2011 - 2013<br />
            <a href="https://www.facebook.com/3foldstudios/">Facebook Page</a>
          </div>
          <div style="margin: 0; padding-bottom: 50px;">
            <div style="display: flex;"><div style="margin-right: 5px;">•</div><div>Engineered music recording projects and production for studio clients</div></div>
            <div style="display: flex;"><div style="margin-right: 5px;">•</div><div>Handled troubleshooting, maintenance and repair of studio equipment</div></div>
          </div>
        </div>

        <div class="experience-section">
          <h3 class="experience-section-title">Wire Road Studios - Recording Engineer</h3>
          <div class="experience-year">2013 - 2016<br />
            <a href="https://www.wireroadstudios.com">wireroadstudios.com</a>
          </div>
          <p style="margin: 0; padding-bottom: 50px;">
            • Engineered music recording projects and production for studio clients<br />
            • Handled troubleshooting, maintenance and repair of studio equipment<br />
            • Provided assistance for guest engineers of world-class clients on the inner workings and routing of the studios
          </p>
        </div>

        <div class="experience-section">
          <h3 class="experience-section-title">Grace Community Church Woodlands - Audio Engineer/Media Tech</h3>
          <div class="experience-year">
            <div>2013 - 2016</div>
            <a href="http://www.gracewoodlands.com">gracewoodlands.com</a>
          </div>
          <div class="experience-description">
            <div style="display: flex;"><div style="margin-right: 5px;">•</div><div>Ran FOH and monitor live sound for English and Spanish weekday, weekend and special services, and events both on and off location</div></div>
            <div style="display: flex;"><div style="margin-right: 5px;">•</div><div>Handled the troubleshooting, maintenance and repair of audio, video, lighting and general media related equipment</div></div>
            <div style="display: flex;"><div style="margin-right: 5px;">•</div><div>Prepared videos, songs, pictures, slideshows, and any other type of media to be ready for services and events</div></div>
            <div style="display: flex;"><div style="margin-right: 5px;">•</div><div>Prepared and programmed audio, video, lighting, live-streaming, translation or any other type of media-related equipment to be in good working order and ready for services and events</div></div>
            <div style="display: flex;"><div style="margin-right: 5px;">•</div><div>Ensured that any type of recorded or live media such as videos, audio for video and live-streaming were of high quality and did not fail</div></div>
            <div style="display: flex;"><div style="margin-right: 5px;">•</div><div>Planned, designed, and implemented routing, signal flow, and application for new or upgraded equipment, systems, and media related projects</div></div>
            <div style="display: flex;"><div style="margin-right: 5px;">•</div><div>Trained and managed a sizable group of media team and volunteers</div></div>
          </div>
        </div>

        <div class="experience-section">
          <h3 class="experience-section-title">Grace Community Church Woodlands - Tech Director</h3>
          <div class="experience-year">
            <div>2016 - 2019</div>
            <a href="http://www.gracewoodlands.com">gracewoodlands.com</a>
          </div>
          <div style="margin: 0; padding-bottom: 50px;">
            <div style="display: flex;"><div style="margin-right: 5px;">•</div><div>Ran FOH and monitor live sound for English and Spanish weekday, weekend and special services, and events both on and off location</div></div>
            <div style="display: flex;"><div style="margin-right: 5px;">•</div><div>Handled the troubleshooting, maintenance and repair of audio, video, lighting and general media related equipment</div></div>
            <div style="display: flex;"><div style="margin-right: 5px;">•</div><div>Prepared videos, songs, pictures, slideshows, and any other type of media to be ready for services and events</div></div>
            <div style="display: flex;"><div style="margin-right: 5px;">•</div><div>Prepared and programmed audio, video, lighting, live-streaming, translation or any other type of media-related equipment to be in good working order and ready for services and events</div></div>
            <div style="display: flex;"><div style="margin-right: 5px;">•</div><div>Ensured that any type of recorded or live media such as videos, audio for video and live-streaming were of high quality and did not fail</div></div>
            <div style="display: flex;"><div style="margin-right: 5px;">•</div><div>Planned, designed, and implemented routing, signal flow, and application for new or upgraded equipment, systems, and media related projects</div></div>
            <div style="display: flex;"><div style="margin-right: 5px;">•</div><div>Trained and managed a sizable group of media team and volunteers</div></div>
            <div style="display: flex;"><div style="margin-right: 5px;">•</div><div>Management of church website</div></div>
          </div>
        </div>


        <div class="experience-section">
          <h3 class="experience-section-title">Hope City Church - Central Video Engineer</h3>
          <div class="experience-year">
            <div>2019 - 2021</div>
            <a href="http://www.hopecity.com">hopecity.com</a>
          </div>
          <div style="margin: 0; padding-bottom: 50px;">
            <div style="display: flex;"><div style="margin-right: 5px;">•</div><div>Managed and maintained the video and intercom equipment for a fully portable megachurch with a portable broadcast campus and three portable campuses</div></div>
            <div style="display: flex;"><div style="margin-right: 5px;">•</div><div>Managed and maintained an OB Truck as well as the equipment inside, and arranged the transport of truck every weekend to the venue</div></div>
            <div style="display: flex;"><div style="margin-right: 5px;">•</div><div>Lead the load-in and load-out of the broadcast campus video equipment every weekend, as well as contributed heavily to the audio load-in</div></div>
            <div style="display: flex;"><div style="margin-right: 5px;">•</div><div>Assisted the additional campuses in the troubleshooting of video equipment during load-in every weekend</div></div>
            <div style="display: flex;"><div style="margin-right: 5px;">•</div><div>Lead and trained the volunteers that operate the cameras, video switcher, CGs, shading, Resi, broadcast audio, etc. in the broadcast campus and additional campuses</div></div>
            <div style="display: flex;"><div style="margin-right: 5px;">•</div><div>Managed and monitored the simulcast of the worship service to the additional campuses and 5+ simultaneous online platforms, implemented contingency plans for the simulcast, and engineered a system for a church-wide worship merge during the last song of the services every weekend</div></div>
            <div style="display: flex;"><div style="margin-right: 5px;">•</div><div>Operated as Engineer in Charge for the central campus every weekend</div></div>
            <div style="display: flex;"><div style="margin-right: 5px;">•</div><div>Managed ISO and Program, and Clean feed recordings for several media outlets</div></div>
            <div style="display: flex;"><div style="margin-right: 5px;">•</div><div>Engineered additional video systems and elements for special events</div></div>
          </div>
        </div>


        <div class="experience-section">
          <h3 class="experience-section-title">ClearAVL Solutions - A/V/L Engineer/System Design Engineer</h3>
          <div class="experience-year">
            <div>2018 - Present</div>
            <a href="http://www.clearavl.com">clearavl.com</a>
          </div>
          <div style="margin: 0; padding-bottom: 50px;">
            <div style="display: flex;"><div style="margin-right: 5px;">•</div><div>Design, Install and Commission A/V/L integration projects for venues and houses of worship</div></div>
            <div style="display: flex;"><div style="margin-right: 5px;">•</div><div>Provide training and customer support/repair for clients</div></div>
            <div style="display: flex;"><div style="margin-right: 5px;">•</div><div>Design portable Audio, Video, and Lighting systems for live corporate events, faith-based live events, live recordings and concerts around the country</div></div>
            <div style="display: flex;"><div style="margin-right: 5px;">•</div><div>Operate as FOH, L1, V1, Camera OP, or Video Engineer for said events</div></div>
          </div>
        </div>


        <div class="experience-section">
          <h3 class="experience-section-title">Freelance Web Developer</h3>
          <div class="experience-year">
            <div>2021 - Present</div>
          </div>
          <div style="margin: 0;">
            <div style="display: flex;"><div style="margin-right: 5px;">•</div><div>Maintain and/or create websites for clients in my spare time</div></div>
          </div>
        </div>


      </div>      
    </div>
  </div>
  
  <div class="row" style="margin-top: 100px;">
    <div class="col">
      <div>
        <h2 class="resume-section-title" id="skills-section">Skills</h2>
      </div>
      
      <div class="skills-container">
        
        <div class="skill-item">
          <i class="fa-regular fa-file-code skill-svg"></i>
          HTML
        </div>
        
        <div class="skill-item">
          <i class="fa-brands fa-css3-alt skill-svg"></i>
          CSS
        </div>
        
        <div class="skill-item">
          <i class="fa-brands fa-square-js skill-svg"></i>
          Javascript
        </div>
        
        <div class="skill-item">
          <i class="fa-brands fa-react skill-svg"></i>
          React
        </div>
        
        <div class="skill-item">
          <i class="fa-brands fa-python skill-svg"></i>
          Python
        </div>
        
        <div class="skill-item">
          <i class="fa-brands fa-bootstrap skill-svg"></i>
          Bootstrap
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="column">
      <div style="position: relative;">
        <div class="experience-section">
          <h2 class="resume-section-title">Other Skills</h2>
          <div class="other-skills-grid">
            <div><i class="fa-solid fa-square"></i> Node JS</div>
            <div><i class="fa-solid fa-square"></i> Express JS</div>
            <div><i class="fa-solid fa-square"></i> Flask</div>
            <div><i class="fa-solid fa-square"></i> Flask-restful</div>
            <div><i class="fa-solid fa-square"></i> SQLAlchemy</div>
            <div><i class="fa-solid fa-square"></i> Sequelize</div>
            <div><i class="fa-solid fa-square"></i> Git</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row" style="margin-top: 100px;">
    <div class="column">
      <h2 class="resume-section-title" id="portfolio-section">Projects</h2>

      <div class="project-container">
        <div class="project-image-container">
          <img src="{{ url_for('static', filename='luloc.png') }}"  style="width: 100%;" class="project-image">
        </div>
        <div class="project-description">
          <h3 class="experience-section-title">E-commerce website for a skincare store and clinic.</h3><br />
          <p>This website was built for a client who had
            previously been using Wix, but was unhappy with the results
            they were getting. They wanted something better but they were
            adamant about still having full control over the ability to 
            add or remove products, change prices, put items on sale or
            mark them as out of stock, etc.
          </p>
          <p>
            This website is built on React, and uses ExpressJS to handle Stripe requests, query a MySQL database to get and set
            reviews, and handle the contact form functionality. Express is also used to forward routing requests to the React build. Prismic is used as a
            CRM to give the client full control over the inventory and parts of the info rendered on the page. Both React and
            Express query Prismic to get info on the products. It will be ready for production in a week or two.
          </p>
          <br>
          <div style="font-family: 'Roboto Mono', monospace; font-size: 12px;">
            USED STACK:
          </div>

            <div class="project-used-stack-container">
              <div class="project-used-stack-child">React</div>
              <div class="project-used-stack-child">Express JS</div>
              <div class="project-used-stack-child">Prismic</div>
              <div class="project-used-stack-child">Sequelize</div>
              <div class="project-used-stack-child">Bootstrap</div>
              <div class="project-used-stack-child">Stripe</div>
            </div>

            <a href="http://www.luloconline.com">
            <div style="text-align: right;
            margin-top: 30px;
            font-family: 'Roboto Mono', monospace;
            color: rgb(94, 67, 147);">
              Old Website: www.luloconine.com
            </div>
          </a>

          <a href="https://luloconline-production.up.railway.app/">
            <div style="text-align: right;
            margin-top: 30px;
            font-family: 'Roboto Mono', monospace;
            color: rgb(94, 67, 147);">
              New website
            </div>
          </a>

        </div>
      </div>

      <div class="project-container" onclick="redirectToChess()" style="cursor: pointer;">
        <div class="project-image-container">
          <img src="{{ url_for('static', filename='htmlchess.png') }}"  style="width: 100%;" class="project-image">
        </div>
        <div class="project-description">
          <h3 class="experience-section-title">HTML Chess (Remote)</h3><br />
          <p>This is a personal project that I had been working on to learn Javascript.
            My original intention was to create a chess game using HTML and Javascript (instead of using Canvas)
            without following a guide on how to do it. Once I had finished that project, I decided to challenge
            myself further by taking the local version of this game that I had created and turn it into
            a remote online game. This version is not 100% finished, so there are still a couple of bugs left to fix.
            But contract work has taken priority, until I have some free time to come back and finish debugging it.
            When you log in, you are put in a 'waiting' state until another player logs in and the game starts
            automatically. It is intended to be able to handle many instances of a game at the same time.
            The login system is not very nuanced at the moment so if you log in and accidentally get put into an instance
            of the game without the person that you wanted to play with, simply refresh the game and log in again. You may
            also test it using two separate browser tabs.
          </p>
          <br>
          <div style="font-family: 'Roboto Mono', monospace; font-size: 12px;">
            USED STACK:
          </div>
            <div class="project-used-stack-container">
              <div class="project-used-stack-child">HTML</div>
              <div class="project-used-stack-child">CSS</div>
              <div class="project-used-stack-child">Javascript</div>
              <div class="project-used-stack-child">Express JS</div>
              <div class="project-used-stack-child">Socket.io</div>
            </div>

            <a href="http://www.chess.ramirovaldes.com">
            <div style="text-align: right;
            margin-top: 30px;
            font-family: 'Roboto Mono', monospace;
            color: rgb(94, 67, 147);">
              chess.ramirovaldes.com
            </div>
          </a>

        </div>
      </div>


      <div class="project-container">
        <div class="project-image-container">
          <iframe src="https://trinket.io/embed/python3/164678c01e" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
        </div>
        <div class="project-description">
          <h3 class="experience-section-title">Python Blackjack</h3><br />
          <p>
            This was another project that I challenged myself to make without following a guide when I was learning Python,
            limiting myself to only googling syntax. There are a few validation checks that need to be implemented but I moved on
            to other projects before touching up the details on this one. Press play on the iframe to run the program. If Safari
            does not work you may have to switch to Chrome.

          </p>
          <br>
          <div style="font-family: 'Roboto Mono', monospace; font-size: 12px;">
            USED STACK:
          </div>
            <div class="project-used-stack-container">
              <div class="project-used-stack-child">Python</div>
            </div>
        </div>
      </div>


      <div class="project-container">
        <div class="project-image-container">
          <iframe src="https://trinket.io/embed/python3/18758103ba" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
        </div>
        <div class="project-description">
          <h3 class="experience-section-title">Python Tic-Tac-Toe VS Computer</h3><br />
          <p>
            This was yet another project that I challenged myself to make without following a guide when I was learning Python,
            limiting myself to only googling syntax. The twist to this one is that I wanted to be able to
            play against the computer. Press play on the iframe to run the program. If Safari
            does not work you may have to switch to Chrome.

          </p>
          <br>
          <div style="font-family: 'Roboto Mono', monospace; font-size: 12px;">
            USED STACK:
          </div>
            <div class="project-used-stack-container">
              <div class="project-used-stack-child">Python</div>
            </div>
        </div>
      </div>


      <div class="project-container">
        <div class="project-image-container">
          <img src="{{ url_for('static', filename='ramirovaldesdotcom.png') }}"  style="width: 100%;" class="project-image">
        </div>
        <div class="project-description">
          <h3 class="experience-section-title">Personal CV Website</h3><br />
          <p>
            In preparation to start applying for jobs, I decided to return to my roots and
            use Python to create my CV website, since I have been diving
            deep into React for months. It could just have easily been a static site
            but I wanted to go back to coding Python for a little bit to try to keep my
            Python skills sharp. Coding in Python feels just as nice as I remember.
            Like riding a bike. The Flask server handles the contact form POST request,
            as well as some simple server-side form validation.

          </p>
          <br>
          <div style="font-family: 'Roboto Mono', monospace; font-size: 12px;">
            USED STACK:
          </div>
          <div class="project-used-stack-container">
            <div class="project-used-stack-child">HTML</div>
            <div class="project-used-stack-child">CSS</div>
            <div class="project-used-stack-child">Javascript</div>
            <div class="project-used-stack-child">Python</div>
            <div class="project-used-stack-child">Flask</div>
          </div>
        </div>
      </div>

      
    </div>
  </div>
</div>

{% endblock %}