<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
<head>
    {% block head %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WHE7BWPKJL"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-WHE7BWPKJL');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %} - Ramiro Valdes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <!-- fontawesome -->
    <script src="{{ url_for('static', filename='fontawesomefree/js/fontawesome.js') }}"></script>
    <script src="{{ url_for('static', filename='fontawesomefree/js/solid.js') }}"></script>
    <script src="{{ url_for('static', filename='fontawesomefree/js/brands.js') }}"></script>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); </style>
    {% endblock %}
</head>
<body>
    <div id="top-banner">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <!-- <a class="navbar-brand" href="#">Ramiro Valdes</a> -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">HELLO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">RESUME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">PORTFOLIO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">TESTIMONIALS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">CONTACT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div id="header-container">
            <div>
                <div id="headshot-container">
                    <img src="{{ url_for('static', filename='ramiro_headshot.jpg') }}"  id="headshot">
                </div>
            </div>
            <div id="header-info">
                <h1 style="font-size: 50px;">Ramiro Valdes</h1>
                <h3 style="font-size: 100%; display: absolute; margin-left: 3px;">Web Developer</h2><br />
                    
                    <div style="display: flex;flex-direction: row;padding: 20px; gap: 30px; font-family: 'Roboto Mono', monospace;">
                        <div style="text-align: right;">
                            <p class="me-info">AGE:</p>
                            <p class="me-info">PHONE:</p>
                            <p class="me-info">EMAIL:</p>
                        </div>
                        <div>
                            <p class="me-info">32</p>
                            <p class="me-info"><a href="tel:7132593052" style="color: white;">(713) 259-3052</a></p>
                            <p class="me-info"><a href="mailto:ramiv212@hotmail.com" style="color: white">ramiv212@hotmail.com</a></p>
                        </div>
                    </div>
                    <div style="margin-left: auto; margin-right: auto;">
                        <a href="https://www.linkedin.com/in/ramiro-valdes-71082575" class="social-icons">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                        <a href="https://github.com/ramiv212" class="social-icons">
                            <i class="fa-brands fa-github" style=" margin-left: 20px;"></i>
                        </a>
                    </div>
                </div>
            </div>
            
        </div> 
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
            <!-- &copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>. -->
            {% endblock %}
            <script src="" async defer></script>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    </body>
    </html>
    
    
    
